
#titre {
  color: white;
  margin-top: 0px;
  margin-bottom: 40px;
  border-radius: 0.25rem;
  width: 180px;
  background-color: #1d1b31;
  padding: 5px;
}

.btn-icon{
  border-radius: 70%;
  border: yellow;
}
