<div class="container">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button *ngFor="let set of filteredStoreSets; let i = index" type="button" data-bs-target="#carouselExampleDark" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let set of filteredStoreSets; let i = index" class="item carousel-item" [class.active]="i === 0">
        <div class="row justify-content-center">
          <div *ngFor="let item of set" class="col-sm-4">
            <div class="thumb-wrapper">
              <!-- Heart icon -->

              <i class="fa fa-heart cursor  heart" id="heart-icon-{{ item.id }}" (click)="toggleHeart(item)" [ngClass]="{ 'filled-heart': item.isFavorite }"></i>
              <!-- Image and content -->
              <div class="img-box">
                <img [src]="'data:image/png;base64,' + item.image" class="img-fluid" alt="" width="150" height="350">
              </div>
              <div class="thumb-content">
                <h4>{{ item.name }}</h4>
                <div class="star-rating">
                  <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                  </ul>
                </div>
                <p class="item-localisation"><b>{{ item.location }}</b></p>
                <button href="#" class="btn btn-primary" [routerLink]="['/produitsBoutique', item.id]" [disabled]="item.disabled">Voir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
