.row.justify-content-center {
  margin-top: 20px;
}

.row.justify-content-center > div {
  margin-bottom: 20px;
}

.mb-5 app-form,
.mb-5 app-datatable {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.app-form,
.app-datatable {
  width: 100%;
}

.app-form {
  background-color: #f7f7f7;
}

.app-datatable {
  background-color: #fff;
}
/* Ajoutez ces styles dans votre fichier CSS global ou dans le fichier de style spécifique à votre composant */

.custom-button {
  background-color: #e36262;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0; /* Add this line */
}

.custom-button:hover {
  background-color: #c85050; /* Change la couleur lorsque survolé */
}
