
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 text-center d-flex align-items-center justify-content-center flex-wrap">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="input-group-sm heightItemMap mb-3 me-2">
          <input type="text" class="form-control form-control-sm text-center" placeholder="Adresse de départ" #originInput>
        </div>
        <div class="input-group-sm heightItemMap mb-3 me-5">
          <input type="text" class="form-control form-control-sm text-center" placeholder="Adresse d'arrivée" #destinationInput>
        </div>
        <select class="form-select-sm heightItemMap form-select-sm me-2 text-center" #mode>
          <option value="DRIVING">Voiture</option>
          <option value="WALKING">À pied</option>
        </select>
        <button class="btn btn-sm me-2 itineraire heightItemMap" (click)="calculateAndDisplayRoute()">Calculer l'itinéraire</button>
        <button class="btn btn-sm demarrer heightItemMap"(click)="startNavigation()">Démarrer</button>
      </div>
    </div>



  </div>
  <div id="map" style="height: 500px;"></div>
  <div id="right-panel">
    <p>Temps estimé de trajet: <span id="duration"></span></p>
    <div id="instructionsPanel"></div>
  </div>
</div>
