<div class="container-fluid ">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline mb-3 ">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 mb-3">
              <i class="fa fa-home me-2"></i> <span class="ms-1 d-none d-sm-inline">Accueil</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle mb-3">
              <i class="fa fa-dashboard me-2 " aria-hidden="true"> </i> <span class="ms-1 d-none d-sm-inline">Tableau de bord</span> </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle mb-3">
              <i class="fa fa-product-hunt me-2"></i> <span class="ms-1 d-none d-sm-inline">Produits</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle mb-3">
              <i class="fa fa-user me-2"></i> <span class="ms-1 d-none d-sm-inline">Clients</span> </a>
          </li>
        </ul>
        <hr>
        <div>
          <a>
            <i class="fa fa-arrow-circle-right mb-3 me-2"></i>
            <span class="d-none d-sm-inline mx-1 ">Deconnexion</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
