<div class="sidebar">
  <div class="logo-details mt-4 mb-4">
    <img src="assets/logo.png" width="30" style="height: 70px; width: 70px;" class="p-3">
    <div class="logo_name"> {{localStorage.getItem("firstname") + " " + localStorage.getItem("lastname")}}
      <hr class="text-white">
    </div>
  </div>
    <ul class="nav-list mt-5">
      <li *ngFor="let menuItem of menuItems">
        <a [routerLink]="menuItem.path" routerLinkActive="active">
          <i [class]="menuItem.iconClass"></i>
          <span class="links_name">{{ menuItem.name }}</span>
        </a>
      </li>

      <li class="mt-5 profileUpdate justify-content-center m-auto ">
        <a class="text-center cursor" (click)="updateProfile()">
          <i class="fa fa-gears"></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li class="profile">
        <i class="fa fa-arrow-circle-right" id="log_out"></i>
      </li>
    </ul>
</div>
