<div class="container">
  <br/>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm" (ngSubmit)="onSubmit(searchInput.value)">
        <div class="card-body row align-items-center">
          <div class="col">
            <input #searchInput class="form-control form-control-borderless" type="search" placeholder="Rechercher un magasin" (input)="onSearchInput(searchInput.value)">

          </div>
          <div class="col-auto">
             <span class="clear-icon m-2" (click)="clearSearchInput(searchInput)">
              <i class="fa fa-times-circle"></i>
            </span>
            <button class="btn btn-md bg-dark text-white" type="submit">Rechercher</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
