<section class="login-block">
  <div class="container container-login">
    <div class="row">
      <div class="col-md-4 login-sec">
        <form class="w-100">
          <div class="card ">
              <div class="card-body">
                <nav class="nav">
                  <a class="nav-link"  routerLink="/signIn" routerLinkActive="active">Sign In</a>
                  <a class="nav-link" routerLink="/signUp" routerLinkActive="active">Sign up</a>
                </nav>

                <div class="card-body">
                  <h5 class="card-title">Login with your email</h5>

                  <form [formGroup]="loginForm" (ngSubmit)="connexion()" >
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password"  required>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-login float-end">Submit</button>
                  </form>
                  <button type="button" class="btn btn-link">Forgot password ?</button>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
