<div class="container d-flex justify-content-center mt-50 mb-50 p-5" *ngIf="products.length>0">
  <div class="row">
    <div *ngFor="let product of products" class="col-sm-3 mt-2">
      <div class="card">
        <div class="card-body">
          <span *ngIf="product.discount" class="badge bg-danger ms-auto float-end m-2">{{ product.discount }}</span>
          <div class="card-img-actions">
            <img alt="" class="card-img-top img-fluid" [src]="'data:image/png;base64,' + product.image">
          </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-2">
              <a class="text-secondary mb-2" data-abc="true" href="#">{{ product.libelle }}</a>
            </h6>
            <a class="text-muted" data-abc="true" href="#">{{ product.type.libelle }}</a>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="productId" [value]="product.id" />
            <div class="col sm-auto">
              <div>
                <input class="me-2" type="checkbox" id="avantages" formControlName="avantages" />
              </div>
              <div>
                <label for="nbPoints">Nombre de points</label>
                <input class="form-control small w-25 h-25 m-auto" type="number" id="nbPoints" formControlName="nbPoints" />
              </div>
            </div>
            <button type="submit" class="btn text-center mt-3 float-end">
              <i class="fa fa-save me-2 m-auto text-success"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

