<!-- ... autres imports ... -->

<div class="container" >
  <div class="row justify-content-center">
    <div class="text-center" id="titre">{{ titreForm }}</div>
  </div>
  <div class="row justify-content-center">
    <div class="card p-4 w-50">
      <span class="text-secondary text-center mb-4 fw-light">Merci de remplir tous les champs</span>
      <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ng-container *ngFor="let control of dynamicControls">
            <div class="col sm-auto mt-3">
              <label *ngIf="control.type !== 'hidden'" for="{{ control.formControlName }}" class="form-label">
                {{ control.label }}
              </label>
              <ng-container [ngSwitch]="control.type">
                <select *ngSwitchCase="'select'" class="form-select" [id]="control.formControlName" [formControlName]="control.formControlName">
                  <option *ngFor="let type of typesProduits" [value]="type.id">{{ type.libelle }}</option>
                </select>
                <input *ngSwitchCase="'checkbox'" [type]="control.type" class="form-check-input ms-3" [id]="control.formControlName" [formControlName]="control.formControlName" (change)="onCheckboxChange($event)" [checked]="form.get(control.formControlName)?.value">
                <input *ngSwitchCase="'text'" [type]="control.type" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName">
                <input *ngSwitchCase="'number'" [type]="control.type" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName" min="0">
                <input *ngSwitchCase="'file'" [type]="control.type" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName" (change)="onFileSelected($event)">
                <input *ngSwitchCase="'email'" [type]="control.type" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName">
                <input *ngSwitchCase="'hidden'" [type]="control.type" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName">
                <input *ngSwitchCase="'password'" [type]="control.type" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName">
                <textarea *ngSwitchCase="'textarea'" class="form-control" [id]="control.formControlName" [formControlName]="control.formControlName"></textarea>
              </ng-container>
            </div>
          </ng-container>

          <button type="submit" class="btn btn-form-save mt-3 float-end" *ngIf="route!=='/client/Card'">
            <i class="fa fa-save me-2"></i>
            Enregistrer
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
